@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&family=Acme&family=Advent+Pro&family=Oi&display=swap');

/* body {
	background: rgb(243, 242, 242);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
} */

*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
	width: 500px;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
    float: initial;
    margin: 70px auto;
    text-align: center;
    box-shadow: 0px 28px 45px rgba(0, 0, 0, 0.2);
    /* vertical-align: middle; */
}

h2 {
	font-weight: bold;
    padding: 0.2em 0;
    font-size: 3em;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.input-feild{
    max-width: 380px;
    width: 100%;
    height: 35px;
    background-color: #e6e4e4;
    margin: 20px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
}

.input-feild i{
    text-align: center;
    line-height: 35px;
    color:  #9e9d9d;
    font-size: 1rem;
}

.input-feild input{
    background: none;
    outline: none;
    border: none;
}

.input-feild input::placeholder{
    color: #9e9d9d;
    font-weight: 500px;
}

button {
	margin-top: 50px;
	width: 150px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #0275d8;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    transition: box-shadow .3s;
}
button:hover{
	opacity: .7;
	background-color: #0275d8;
    box-shadow: 0 0 8px #0275d8;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 15px;
   margin: 20px auto 10px auto;
   text-align: center;
}



h1 {
	text-align: center;
	color: rgb(44, 43, 43);
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: rgb(255, 225, 225);
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}

