#cart-gitem {
    margin-bottom: 30px;
    margin-top: 30px;
}
#buyButton{
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#cartBox{
    margin-bottom: 40px;
}