body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
   }

#footer{
    clear: both;
    position: relative;
}
#itemCard{
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    margin-bottom: 30px;
}

#product-img img{
    margin-left: auto;
  margin-right: auto;
  display: block;
  width:fit-content;
  height: 200px;
  

}

#itemName{
    font-size: xx-large;
    color: black;
}

#itemPrice{
    padding-top: 10px;
    padding-bottom: 10px;
}

#category{
    font-size: small;
    padding-bottom: 10px;
}

#itemDescription{

    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Buttons{
    padding: 10px;
}

#buyButton{
    display: flex;
    margin: auto;
}

#cartButton{
    display: flex;
    margin: auto;
}

#authorName{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width:576px){

    #buyButton{
        font-size: small;
    }

    #cartButton{
        font-size: small;
    }
    #desc{
        margin-top: 10px;
    }
    
}

@media(min-width:576px){
    /* #footer1{
        position:absolute;
        bottom: 0;
        width: 100%;
    } */

    #product-img img{
        margin: auto;
        margin-left: auto;
      margin-right: auto;
      display: block;
      width:fit-content;
      height: 300px;
}
}