       body {
           width: 100%;
           height: 100%;
           margin: 0;
           padding: 0;
           overflow-x: hidden;
       }
       /* Slide-show*/
       
       .carousel-item {
           border: 2xp;
           height: 550px;
           background-position: center;
           position: relative;
           background-size: cover;
       }
       
       .carousel-item {
           position: absolute;
           top: 0;
           left: 0;
           min-height: 50px;
       }
       
       #slide-show {
           padding-left: 10px;
           padding-right: 10px;
           padding-top: 30px;
           /*padding-bottom: 20px;*/
       }
       
       #slide_img {
           height: 400px;
       }
       
       @media only screen and (max-width:715px) {
           #slide_img {
               height: 250px;
           }
       }
       
       @media (max-width:325px) {
           #slide_img {
               height: 100px;
           }
       }
       /*header1*/
       
       #header1 {
           color: rgb(14, 13, 13);
           padding-left: 50px;
       }
       /*top selling item*/
       
       #item-grid {
           max-width: 120%;
           max-height: 60%;
           margin-bottom: 30px;
       }
       
       #item-grid:hover {
           background: #9c9d9e;
           color: rgb(22, 20, 20);
           border-radius: 5px;
           border: none;
           box-shadow: 5px 5px 10px #9E9E9E;
       }
       
       #img {
           max-width: 200%;
           max-height: 50%;
           transition: transform 0.5s ease;
           width: 100%;
           height: 100%;
           object-fit: contain;
       }
       
       #img:hover {
           transform: scale(1.1);
       }
       /*header2*/
       
       #header2 {
           color: rgb(3, 3, 3);
           padding-left: 50px;
       }
       /*top author*/
       
       #author img {
           margin-top: -50px;
           transition: transform 0.5s ease;
       }
       
       #author img:hover {
           transform: scale(1.1);
       }
       
       #author card {
           border-radius: 0px;
           box-shadow: 5px 5px 15px #6c757d;
           transition: all 0.3s ease-in;
           -webkit-transition: all 0.3s ease-in;
           -moz-transition: all 0.3s ease-in;
       }
       
       #author .card:hover {
           background: #9c9d9e;
           ;
           color: #fff;
           border-radius: 5px;
           border: none;
           box-shadow: 5px 5px 10px #9E9E9E;
       }
       
       #author .card:hover h3,
       #author .card:hover i {
           color: #fff;
       }
       
       #aut-grid {
           margin-bottom: 40px;
       }