@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&family=Acme&family=Advent+Pro&family=Oi&display=swap');

:root{
    --Akaya:'Akaya Telivigala', cursive;
    --gray:#8a8989;
}

.login{
    padding: 0 0 20vmin 0;
    /* font-family: var(--Akaya); */
}

.login .row .col-md-6 .pray img{
    opacity: 1;
    width: 100%;
}

.login .row .col-md-6:last-child{
    position: relative;
}

.login .row .col-md-6 .panel{
    position: absolute;
    top: 0vmin;
    left: 10vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 10vmin 10vmin 10vmin 10vmin;
    /* box-shadow: 0px 28px 45px rgba(0, 0, 0, 0.2); */
    /* z-index: 1; */
}

.login .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.2em 0;
    font-size: 3em;
    text-align: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-feild{
    max-width: 380px;
    width: 100%;
    height: 35px;
    background-color: #e6e4e4;
    margin: 20px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
}

.input-feild i{
    text-align: center;
    line-height: 35px;
    color:  #9e9d9d;
    font-size: 1rem;
}

.input-feild input{
    background: none;
    outline: none;
    border: none;
    /* text-align: center; */
}

.input-feild input::placeholder{
    color: #9e9d9d;
    font-weight: 500px;
}

.btn{
    width: 150px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #0275d8;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    transition: box-shadow .3s;
}

.btn:hover{
    background-color: #0275d8;
    box-shadow: 0 0 8px #0275d8;
  
    /* border-radius: 49px;
    box-shadow: 0 0 10px #db4cb8,
                0 0 10px #d343bb; */
    /* -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 30%); */
   
   
    /* -webkit-mask-image: linear-gradient(-75deg, #000 30%, rgba(0,0,0,.6) 50%, #000 30%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite; */
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

/* ******************switch for remember me******************** */
.switch {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 15px;
    top: 4px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 1.5px;
    bottom: 1.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
    
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* *********************************************** */

label{
    font-size: .85rem;
    color: var(--gray);
}

.forgot{
    padding-top: 10px;
    font-size: 15px;
    color: var(--gray);
}

.forgot .psw a{
    text-decoration: none;
    color: inherit;
}

.forgot .psw a:hover{
    color: rgb(99, 97, 97);
    font-size: 15px;
    font-weight: bold;
}

.register{
    padding-top: 30px;
}

.register a{
    text-decoration: none;
    color: var(--gray);
}

.register a:hover{
    color: #0275d8;
    font-weight: bold;
}

form {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-feild {
  max-width: 390px;
  width: 100%;
  height: 35px;
  background-color: #e6e4e4;
  margin: 10px 0;
  border-radius: 55px;
  padding: 0.2rem 1rem;
}

.name .input-feild input {
  width: 300px;
}
.pass .input-feild input {
  width: 130px;
}
.contact .input-feild input {
  width: 300px;
}









