@import url("https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&family=Acme&family=Advent+Pro&family=Oi&display=swap");

.signup {
  padding: 10vmin 0;
  /* font-family: var(--Akaya); */
}

.container {
  padding: 0;
}

.signup .row .col-md-6 .pray img {
  opacity: 1;
  width: 100%;
}

.signup .row .col-md-6:last-child {
  position: relative;
}

.signup .row .col-md-6 .panel {
  position: absolute;
  top: 0vmin;
  left: 10vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 0vmin 0vmin 0vmin 0vmin;
  /* box-shadow: 0px 28px 45px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
}

.signup .row .col-md-6 .panel h1 {
  top: 0px;
  font-weight: bold;
  padding: 0 0;
  font-size: 3em;
  text-align: center;
}

form {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-feild {
  max-width: 390px;
  width: 100%;
  height: 35px;
  background-color: #e6e4e4;
  margin: 10px 0;
  border-radius: 55px;
  padding: 0.2rem 1rem;
}

.name .input-feild input {
  width: 300px;
}
.pass .input-feild input {
  width: 130px;
}
.contact .input-feild input {
  width: 300px;
}

.input-feild input {
  background: none;
  outline: none;
  border: none;
}

.input-feild input::placeholder {
  color: #9e9d9d;
  font-weight: 500px;
}

.btn {
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #0275d8;
  color: white;
  font-weight: bolder;
  font-size: 1em;
  transition: box-shadow 0.3s;
}

.btn:hover {
  background-color: #0275d8;
  box-shadow: 0 0 8px #0275d8;
  /* -webkit-mask-image: linear-gradient(-75deg, #000 30%, rgba(0,0,0,.6) 50%, #000 30%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    } */
}

.button {
  padding-top: 20px;
}
