*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#user_img {
    width: 100px;
    height: 80px;
    border: 3px solid rgb(81, 81, 85);
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card {
    border-radius: 0px;
    box-shadow: 5px 5px 15px #6c757d;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    max-width: 120%;
    margin-bottom: 30px;
}

#card_img {
    width: 100px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

#test {
    text-align: left;
    align-items: center;
}

.card:hover {
    background: #bebfc0;
    color: rgb(22, 20, 20);
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}


/*admin_profile style*/

#card_img {
    transition: transform 0.5s ease;
}

#card_img:hover {
    transform: scale(1.1);
}

.logout a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: rgb(255, 225, 225);
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}

.logout a:hover{
	opacity: .7;
    color: lavender;
    text-decoration: none;
}

.logout{
    margin-bottom: 80px;
}